/* variables */
:root {
    --light: #fff;
    --middle: #868686;
    --dark: #565656;
    --greenDark: #069e2d;
    --greenLight: #daff7d;
    --blueDark: #090c9b;
    --blueLight: #7ee8fa;
    --redDark: #53131E;
    --redLight: #EF3054;
}

/* universal selectors */
* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}

body {
    height: 100vh;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    height: 100%;
    flex-direction: column;
}

main h1 {
    color: var(--blueDark);
    font-size: 50px;
    padding: 10px;
    margin: 5px;;
}

.leaderboard {
    border: 1px solid var(--dark);
    border-radius: 10px;
    height: 60%;
    width: 50%;
}

.leaderboard p {
    font-size: 30px;
    padding: 5px 10px;
}

.leaderboard p:nth-child(even) {
    background-color: var(--greenLight);
}

.navButtons {
    margin: 10px;
    padding: 10px;
    font-size: 30px;
}

.navButtons button {
    padding: 5px;
    border-radius: 10px;
}

.navButtons #returnBtn {
    background-color: var(--blueLight);
    border: 2px solid var(--blueDark);
}

.navButtons #returnBtn:hover {
    
}

.navButtons #clearBtn {
    background-color: var(--redLight);
    border: 2px solid var(--redDark);
}