/* variables */
:root {
    --light: #e8e1ef;
    --middle: #868686;
    --dark: #565656;
    --greenDark: #069e2d;
    --greenLight: #daff7d;
}
/* universal selectors */
* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 24px;
}

body {
    height: 100vh;
}
/* header selectors */
header {
    color: var(--greenLight);
    text-shadow: 0 3px 1px var(--greenDark);
    background-color: var(--middle);
    text-align: center;
    padding: 20px;
    border-bottom: 5px solid var(--dark);
    height: 15%;
}

header h1 {
    font-size: 50px;
}

header h2 {
    font-size: 36px;
}
/* main selectors */
main {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    height: 77%;
}
/* section selectors */
section {
    height: 100%;
    width: 100%;
    border: 3px solid #000;
    border-left: 0;

}
/* aside selectors */
aside {
    height: 100%;
    width: 20%;
    color: var(--light);
    background-color: var(--dark);
    border: 3px solid #000;
    border-left: 0;
    text-align: center;
}
/* footer selectors */
footer {
    color: var(--greenLight);
    text-shadow: 0 3px 1px var(--greenDark);
    background-color: var(--middle);
    height: 8%;
    text-align: center;
    padding: 20px 0 0;
    border-top: 5px solid var(--dark)
}

footer span {
    color: #7ee8fa;
    text-shadow: 0 3px 1px #090c9b;
}

/* media selectors */
@media screen and (max-width: 768px) {
    /* universal selectors */
    * {
        font-size: 20px;
    }
    body {
        height: 100vh;
    }
    /* header selectors */
    header {
        height: 20%;
    }
    header h1 {
        font-size: 36px;
    }
    header h2 {
        font-size: 28px;
    }
    /* main selectors */
    main {
        display: flex;
        flex-direction: column-reverse;
        height: 72%;
    }
    /* section selectors */
    section {
        height: 80%;
        width: 100%;
    }
    /* aside selectors */
    aside {
        height: 20%;
        width: 100%;
        border: 0;
        border-bottom: 5px solid #000;
    }
    /* footer selectors */
    footer {
        height: 8%;
        text-align: center;
    }
}