/* variables */
:root {
    --light: #e8e1ef;
    --middle: #868686;
    --dark: #565656;
    --greenDark: #069e2d;
    --greenLight: #daff7d;
    --blueDark: #090c9b;
    --blueLight: #7ee8fa;
}

/* universal selectors */
* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
}

body {
    height: 100vh;
}

/* header selectors */
header {
    color: var(--greenLight);
    text-shadow: 0 3px 1px var(--greenDark);
    background-color: var(--middle);
    text-align: center;
    padding: 20px;
    border-bottom: 5px solid var(--dark);
    height: 15%;
}

header h1,
header h2 {
    padding: 5px;
}

header h1 {
    font-size: 50px;
    text-decoration: underline;
}

header h2 {
    font-size: 36px;
}

/* main selectors */
main {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    height: 77%;
}

/* section selectors */
section {
    height: 100%;
    width: 100%;
    border: 3px solid #000;
    border-left: 0;
    text-align: center;
    padding: 20px 10px;
}

section p {
    padding: 1%;
}

section button {
    padding: 10px;
    margin: 30px;
    font-size: 40px;
    color: var(--light);
    background-color: var(--dark);
}

section button:hover {
    border: 3px solid var(--blueLight);
    background-color: var(--blueDark);
}

section button:active {
    border: 3px solid var(--greenLight);
    background-color: var(--greenDark);
}

/* footer selectors */
footer {
    color: var(--greenLight);
    text-shadow: 0 3px 1px var(--greenDark);
    background-color: var(--middle);
    height: 8%;
    text-align: center;
    padding: 20px 0 0;
    border-top: 5px solid var(--dark);
    font-size: 24px;
}

footer span {
    color: var(--blueLight);
    text-shadow: 0 3px 1px var(--blueDark);
    font-size: 24px;
}

/* media selectors */
@media screen and (max-width: 768px) {
    /* universal selectors */
    * {
        font-size: 20px;
    }
    body {
        height: 100vh;
    }

    /* header selectors */
    header {
        height: 20%;
        text-shadow: 3px 0 1px var(--greenDark);
    }
    header h1 {
        font-size: 36px;
    }
    header h2 {
        font-size: 28px;
    }

    /* main selectors */
    main {
        display: flex;
        flex-direction: column-reverse;
        height: 72%;
    }

    /* section selectors */
    section {
        height: 100%;
        width: 100%;
    }
    
    /* footer selectors */
    footer {
        height: 8%;
        text-align: center;
        font-size: 18px;
    }

    footer span {
        font-size: 18px;
    }
}