/* variables */
:root {
    --light: #fff;
    --middle: #868686;
    --dark: #565656;
    --greenDark: #069e2d;
    --greenLight: #daff7d;
    --blueDark: #090c9b;
    --blueLight: #7ee8fa;
    --redDark: #53131E;
    --redLight: #EF3054;
}

/* universal selectors */
* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
}

body {
    height: 100vh;
}

/* header selectors */
header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    height: 10%;
    border-bottom: 2px solid var(--dark);
}

header p {
    padding: 5px;
    font-size: 20px;
    text-decoration: underline;
}

/* main selectors */
main {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    height: 85%;
}

main section .ansBox {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
}

main section div .questionMenu button {
    height: 40px;
    width: 70%;
    color: var(--light);
    border: 3px solid var(--middle);
    background-color: var(--dark);
    padding: 5px 0;
    margin: 10px 5px;
}

main section div .questionMenu button:hover {
    border: 3px solid var(--blueLight);
    background-color: var(--blueDark);
}

main section #response {
    font-size: 20px;
}

/* section selectors */
section {
    height: 100%;
    width: 100%;
    border-left: 0;
    text-align: center;
    padding: 20px 10px;
}

section p {
    padding: 1%;
}

section button {
    padding: 10px;
    margin: 30px;
    font-size: 40px;
    color: var(--light);
    background-color: var(--dark);
}

section button:hover {
    border: 3px solid var(--blueLight);
    background-color: var(--blueDark);
}

section button:active,
section button:focus {
    border: 3px solid var(--greenLight);
    background-color: var(--greenDark);
}

/* footer selectors */
footer {
    color: var(--middle);
    height: 5%;
    text-align: right;
    padding: 10px;
    border-top: 2px solid var(--dark);
    font-size: 20px;
}

footer span {
    color: var(--blueDark);
    font-size: 20px;
}

/* id selectors */
[data-state='hide'] {
    display: none;
}